@page "/"
@using Microsoft.AspNetCore.SignalR.Client
@inject HttpClient Http

@foreach (var message in _messages)
{
    <p>@message.Item1:@message.Item2</p><br />
}

@code {
    private List<Tuple<string, string>> _messages = new List<Tuple<string, string>>();

    protected override async Task OnInitializedAsync()
    {
        var hubConnection = new HubConnectionBuilder()
        .WithUrl("https://localhost:7052/messages").Build();

        hubConnection.On<string, string>(nameof(GetMessage),(GetMessage));

        await hubConnection.StartAsync();
    }

    private void GetMessage(string username, string message)
    {
        _messages.Add(new Tuple<string, string>(username,message));
        StateHasChanged();
    }
}
